version: '3.7'

services:
  mysql:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: world

  adminer:
    image: adminer:latest
    ports:
      - "8081:8080"
    depends_on:
      - mysql