#outer {
  width: 60%;
  margin: 0 auto;
  background-color: bisque;
  position: absolute;
  border-radius: 20px;
}

#outer p {
  padding: 2rem;
  font-weight: bold;
}

#outer svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}

#outer svg rect {
  transition: 1.7s;
  stroke-dasharray: 400%;
  stroke-dashoffset: 400%;
}

#outer:hover svg rect {
  stroke-dashoffset: 0;
}